{%load static%}
<!DOCTYPE html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href='{%static "css/inicio.css" %}'>
    <div class="topnav" id="myTopnav">
    <a href="#Inicio" class="active">Home</a>
    <a href="#Misviajes">Mis viajes</a>
    <a href="#Horarios">Horarios</a>
    <a href="#Rutas">Rutas</a>
    <a href="#Contacto">Contactos</a>
    </a>
    <div class="usuario">
    <a class="fas fa-user" href="{% url 'home' %}"></a>
    </div>
    </div>
    <div class="info">
        <div class="texto">
        <p>PUTA</p>
    </div>
    </div>